trigger:
  branches:
    include:
      - main
      - dev

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  dotnetVersion: '8.0.x'
  publishPath: '$(Build.ArtifactStagingDirectory)/publish'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: NuGetToolInstaller@1

- script: dotnet restore
  displayName: 'Restore packages'

- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build'

- script: |
    dotnet test ./GiftOfTheGivers.Tests/GiftOfTheGivers.Tests.csproj \
      --configuration $(buildConfiguration) \
      --logger "trx;LogFileName=test-results.trx" \
      --collect:"XPlat Code Coverage"
  displayName: 'Run tests'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/test-results.trx'
    failTaskOnFailedTests: false

- script: |
    reportgenerator -reports:**/coverage.cobertura.xml -targetdir:coverage-report -reporttypes:Html
  displayName: 'Generate coverage report'
  condition: succeededOrFailed()

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'coverage-report'
    ArtifactName: 'code-coverage'
    publishLocation: 'Container'

- script: dotnet publish ./GiftOfTheGivers/GiftOfTheGivers.csproj -c $(buildConfiguration) -o $(publishPath)
  displayName: 'Publish app'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(publishPath)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/drop.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/drop.zip'
    ArtifactName: 'drop'
    publishLocation: 'Container'

# Optional: deploy to Azure Web App (configure service connection in project)
- task: AzureWebApp@1
  inputs:
    azureSubscription: '$(azureSubscription)'         # e.g. 'My Azure Connection' - set in pipeline variables
    appType: 'webApp'
    appName: '$(webAppName)'                         # e.g. 'gift-of-the-givers'
    package: '$(Build.ArtifactStagingDirectory)/drop.zip'
  condition: succeeded()
